<!-- Navigation bar -->
<nav>
    <ul>
        <!-- Logo Image -->
        <li>
            <a href="/auth/dashboard">
                <img src="/static/68eadea8-39fb-4fde-a5dd-02032125f0a5.jpg" alt="Logo" style="height: 64px; vertical-align: middle;">
            </a>
        </li>
        <li><a href="/patients">Patients</a></li>
        <li><a href="/patients/register">Register Patients</a></li>
        <li><a href="/rooms">Rooms</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
</nav>
